body{
    background-color: lightskyblue;
}


.titlePage{
    font-size: 50px;
    display: flex;
    justify-content: center;
}



main{
    border: 5px solid tomato;

}

main section ul{
    display: flex;
    justify-content: center;
}

main section ul li{
    font-size: 50px;
    list-style-type: none;
    margin: 25px;
}
